 <div class="item">
    <p>Nome</p>
    <div>
      <input type="text"
      name="name"
      placeholder="Nome do chefe"
      value="{{ chef.image }}">
    </div>
  </div>
  
  <div class="item-avatar">
    <p>Avatar</p>
    <div>
      <input type="url"
      name="avatar_url"
      placeholder="http://"
      value="{{ chef.avatar_url }}">
    </div>
  </div>