@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";
@import "https://fonts.googleapis.com/css?family=Baskervville|Roboto:400,700&display=swap";

* {
    margin:0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

header.navigation {
    display: flex;
    height: 80px;
    background-color: #111111;
    margin-bottom: 50px;
}
.logo {
    margin-left: 230px;
    display: flex;
    align-items: center;
}
/* LAYOUT - SITE */
.page-content {
    width: 940px;
    position: relative;
    /* width: calc(100% - 460px); */
    margin: 0 auto;
}
header.site-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 28px 0;
}
.site-logo {
    margin-right: 122.4px;
}
.site-links a {
    font-size: 16px;
    text-decoration: none;
    margin-right: 30px;
    color: #111111;
}
.site-links a.active {
    font-weight: bold;
}
.site-filter button {
    background-color: #6558C3;
    color: white;
    width: 91px;
    height: 37px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
}
.site-filter input {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 10px 15px;
}
.site-filter form {
    display: grid;
    grid-template-columns: 246px 1fr;
    grid-column-gap: 8px;
}

/* INDEX PAGE - SITE */
.description-container {
    display: flex;
    background-color: #FBDFDB;
    border-radius: 30px;
    padding: 0 100px 0 60px;
    justify-content: space-between;
}
.description-container img {
    margin-top: 66px;
}
.description {
    max-width: 316px;
    margin: 117px 0;
}
.description h1 {
    margin-bottom: 10px;
}
.description p {
    font-size: 18px;
    color: #000000;
    opacity: 0.7;
}
.section-title {
    font-size: 24px;
    font-weight: bold;
    padding: 50px 0 20px;
}
.site-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 20px;
}
.site-card img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 20px;
    object-fit: cover;
}
.site-content .site-content-title {
    font-size: 18px;
    margin-bottom: 5px;
}
.site-content .site-content-author {
    font-size: 14px;
    color: #777777;
}
.container {
    position: relative;
    min-height: 100vh;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 62px;
    text-align: center;
    color: #999999;
    font-size: 14px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content {
    padding-bottom: 80px;
}
/* ABOUT PAGE - SITE */
.about-title {
    font-size: 24px;
    color: #111111;
    font-weight: bold;
    padding: 20px 0 30px;
}
.text-content {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}
.complement {
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0 20px;
}
/* CHEFS PAGE - SITE */
.chef-number-recipes {
    font-size: 14px;
    color: #666666;
}
.chef-name-site {
    margin-bottom: 5px;
}

/* INDEX PAGE - ADMIN - RECIPE*/
.chef,
.recipe,
.recipe-create-edit,
.content {
    width: 940px;
    /* width: calc(100% - 460px); */
    margin: 0 auto;
}
.content-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.content-title h2 {
    display: flex;
    align-items: center;
}
.chef-head a,
.recipe-head a,
.content-title a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6558C3;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    width: 136px;
    height: 37px;
    border-radius: 4px;
    outline: none;
}
.cards {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.card {
    display: flex;
    flex-direction: row;
    width: 480px;
    height: 80px;
}
.cards .card img {
    width: 172px;
    height: 80px;
    object-fit: cover;
    border-radius: 8.75px;
    margin-right: 20px;
}
.chef-name-site,
.chef-name,
.recipe-title {
    font-size: 18px;
    color: #111111;
}
.recipe-author {
    padding: 5px 0 10px;
    font-size: 14px;
    color: #777777;
}
.chef-card a,
.card a {
    font-weight: bold;
    font-size: 14px;
    color: #6558C3;
    text-decoration: none;
}
/* INDEX PAGE - ADMIN - CHEF */
.chef-cards {
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.chef-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.chef-card img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.chef-name {
    margin-bottom: 10px;
}

/* SHOW PAGE */
.chef-head,
.recipe-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
}

.chef-head p,
.recipe-head p {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}
.recipe-info-title button {
    background-color: #6558C3;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 136px;
    height: 37px;
    border-radius: 4px;
    outline: none;
}
.recipe-info-content img {
    width: 100%;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
}
.recipe-content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 31px;
}
.recipe-content-title h1 {
    font-size: 36px;
    margin-bottom: 4px;
}
.recipe-content-title p {
    font-size: 20px;
    color: #777777;
}
.recipe-content h2 {
    padding-bottom: 19px;
}
.recipe-content p,
.recipe-content ul {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}
.recipe-content ul {
    list-style-position: inside;
    padding-bottom: 41px;
}
.recipe-content p {
    padding-bottom: 51px;
}
/* == chefs show page == */
.chef-info,
.chef-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.chef-content img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.chef-info {
    padding-bottom: 50px;
}
.chef-info h1 {
    font-size: 36px;
    font-weight: bold;
    padding: 30px 0 4px;
}
.chef-info p {
    font-size: 20px;
    color: #777777;
}
.chef-recipes h2 {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 30px;
}

/* FIELDS */
.item:first-child p {
    padding: 26px 0 10px;
}
.item-avatar p,
.item p {
    font-size: 16px;
    font-weight: bold;
    padding: 30px 0 10px;
}
.item select,
.item textarea,
.item-avatar input,
.item input {
    border: 1px solid #DDDDDD;
    width: calc(100% - 20px);
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}
.item select,
.item-avatar input,
.item input {
    height: 49px;
    padding-left: 20px;
}
.item textarea {
    padding: 18px 0 0 20px;
}
.item select {
    background-color: white;
}
.item:last-child input {
    height: 257px;
}
.item:last-child {
    padding-bottom: 10px;
}

.item button {
    color: #6558C3;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    outline: none;
}
.item select::placeholder,
.item input::placeholder {
    color: #777777;
}

.ingredient,
.preparation {
    margin-bottom: 10px;
}

/* EDIT - CREATE */
.recipe-create-edit-title {
    display: flex;
    justify-content: space-between;
}
.recipe-create-edit-title p {
    font-size: 24px;
    font-weight: bold;
}

.recipe-create-edit-title button {
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 37px;
    border-radius: 4px;
    outline: none;  
}
.recipe-create-edit-title .info-buttons .save-button {
    background-color: #6558C3;
    width: 136px;
}
.recipe-create-edit-title .info-buttons .delete-button {
    background-color: #DC4747;
    width: 92px;
     
}

