{% extends './layout.njk' %}

{% block content %}
  <div class="content">
    <div class="chef-cards">
        {% for chef in chefs %}
          <div class="chef-card">
              <img src="{{ chef.avatar_url }}" alt="Imagem de {{ chef.name }}">
              <div>
                <p class="chef-name-site">{{ chef.name }}</p>
                <p class="chef-number-recipes">4 receitas</p>
              </div>
          </div>
        {% endfor %}
    </div>
  </div>

{% endblock content %}