{% extends "./layout.njk" %}

{% block content %}
<div class="site-recipes-content">
    <section class="site-cards">
    {% for recipe in recipes %}
        <div class="site-card" id={{recipes.indexOf(recipe)}}>
            <div class="site-card-image-container">
                <img src="{{ recipe.image }}" alt="Imagem de {{ recipe.image }}">
            </div>
            <div class="site-content">
                <p class="site-content-title">{{recipe.title}}</p>
                <p class="site-content-author">por {{recipe.chef_name}}</p>
            </div>
        </div>
    {% endfor %}
    </section>
    <div class="pagination"
        data-page={{pagination.page}}
        data-total={{pagination.total}}
        data-filter={{filter}}
    ></div>

</div>
{% endblock %}