{% extends "../layout.njk" %}

{% block content %}
<div class="recipe-create-edit">
  <div class="recipe-create-edit-title">
    <p>Editar receita</p>
    <div class="info-buttons">
      <button class="delete-button" type="submit" form="form-delete">Deletar</button>
      <button class="save-button" type="submit" form="form-edit">Salvar receita</button>
    </div>
  </div>
  <form method="POST" action="/admin/recipes?_method=PUT" id="form-edit">
    {% include "admin/recipes/fields.njk" %}
    <input 
      type="hidden"
      name="id"
      value={{recipe.id}}>
  </form>
  <form method="POST" action="/admin/recipes?_method=DELETE" id="form-delete">
    <input 
    type="hidden"
    name="id"
    value={{recipe.id}}>
  </form>
</div>
{% endblock %}